<router-outlet></router-outlet>
<!-- <div class="container">
  <div class="btn btn-primary">Click me</div>
  <div class="btn btn-danger">Click me</div>
  <div class="btn btn-warn">Click me</div>
  <div class="btn btn-success">Click me</div>
</div>
<div class="container">
  <div class="chip">
    <span class="chip-title">Jenkins Built</span>
    <span class="chip-info-success">Passing</span>
  </div>
  <div class="chip">
    <span class="chip-title">Contributors</span>
    <span class="chip-info-primary">588</span>
  </div>
  <div class="chip">
    <span class="chip-title">Npm audit</span>
    <span class="chip-info-faded">not run</span>
  </div>
</div>
<div class="container">
  <span class="badge-primary">Beta</span>
  <span class="badge-danger">Beta</span>
  <span class="badge-warn">Beta</span>
  <span class="badge-success">Beta</span>
</div>
<div class="container">
  <div class="section">
    <div class="section-title">Section</div>
    <div class="section-content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est facere sapiente consequatur nemo, inventore exercitationem necessitatibus corrupti sequi quibusdam rerum laudantium eos quae cupiditate nostrum accusamus unde odit voluptatum labore natus enim consequuntur corporis esse quasi. Quo, dolor cupiditate. Recusandae nisi dolorum tempore blanditiis. Quam labore, eos dolor reprehenderit ipsam eius adipisci dicta qui, voluptatibus nobis dolore fugit ipsum, itaque cumque blanditiis? Fugiat possimus velit, blanditiis eos officia est voluptate corrupti minima vero rerum, deleniti quos vel eius totam commodi. Fuga, facilis nesciunt. Non quam ducimus molestias dolorum ex officiis, fuga doloribus voluptates odio architecto totam, sint aliquid mollitia vero.
    </div>
  </div>
</div> -->
