/* Text colors */
$color-primary : #6d8ca3;
$color-info : #6b60a0;
$color-warn: #9e844e;
$color-success: #4cb816;
$color-danger: #bc3433;
$color-faded: #959595;
$color-faded-dark: #575757;

/* Background colors */
$bg-primary : #d8ecf7;
$bg-info : #d3c4e9;
$bg-success: #b6daa3;
$bg-warn : #ebd6a4;
$bg-danger: #e09193;
$bg-faded: #e7e7e7;
